@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url(../img/img3.webp);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center
}

.intro-image__text a {
    background-color: #313c319a;
    border: 2px solid #313c31;
    color: #cdd2cd;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}
.intro-image__text a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #6b5549;
    color:#9ba8af;
    height: 200px;
    margin-top: -5rem;
    text-align: center;
    padding-top: 5rem;
    clip-path: polygon(49% 23%, 100% 0, 100% 100%, 39% 100%, 0 100%, 0% 43%, 0 1%);
}

.intro-text__textbox h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image {
    background-attachment: fixed;
    background-image: url(..//img/img2.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center
}

.packaging-image__text a {
    background-color: #7b4d2fa8;
    border: 2px solid #7b4d2f;
    color: #d5d5d5;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.packaging-image__text a:hover {
    transform: scale(1.2);
}

.packaging-text {
    background-color:#a27955 ;
    color: #c6a786;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 0 15rem;
}

.packaging_text__textbox h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url(..//img/img1.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center
}
.tutorials-image__text a {
    background-color: #605c4fa8;
    border: 2px solid #5c594d;
    color: #d2c4a8;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.tutorials-image__text a:hover {
    transform: scale(1.2);
}

.footer {
    height: 200px;
    background-color: #a88c69;
    color: #704e23;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #d1cdc5;
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.3);
}